.card {
    padding: 15px;
    border-radius: 12px;
    background: var(--card-bg);
}

.max {
    width: 100%;
}

.normal {
    background: var(--card-bg);
}

.outline {
    border: 1px solid var(--primary-color);
}