.starRating {
    padding: 10px;

    .starIcon {
        cursor: pointer;
    }

    .starIcon path {
        stroke: var(--primary-color);

    }

    .normal path {
        fill: none;
    }

    .hovered path {
        fill: var(--primary-color);

    }

    .selected {
        cursor: auto;
    }
}

.starRatingRedesigned {
    padding: 10px;

    .starIcon {
        cursor: pointer;
    }

    .normal path {
        fill: none;
    }

    .hovered path {
        fill: var(--icon-redesigned);

    }

    .selected {
        cursor: auto;
    }
}
