.popup {
    position: relative;
}

.trigger {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.active {
    background: var(--light-bg-redesigned);

    &:hover {
        transform: scale(1.01);
        opacity: 0.8;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
        animation: animate 0.3s linear;
        border-radius: 12px;
        color: var(--accent-redesigned);
    }

    @keyframes animate {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0.8;
        }
    }
}

.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsTopLeft {
    left: 0;
    right: 100%;
}

