.app_breeze_theme {
    --bg-color: #5E69EE;
    --inverted-bg-color: #F4F4FB;
    --primary-color: #F4F4FB;
    --secondary-color: #d6d6f8;
    --inverted-primary-color: #39A6EA;
    --inverted-secondary-color: #8B39EA;
}
