.app_dark_theme {
    transition: 0.2s linear;

    // old
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
    --code-bg: #1313a1;
    --card-bg: #070736;

    // redesigned
    --dark-bg-redesigned: #090F11;
    --bg-redesigned: #0C1214;
    --light-bg-redesigned: #151C1F;
    --text-redesigned: #DBDBDB;
    --hint-redesigned: #555;
    --cancel-redesigned: #D95757;
    --save-redesigned: #6CD98B;
    --icon-redesigned: #74A2B2;
    --accent-redesigned: #5ED3F3;
}
