.app_light_theme {
    transition: 0.2s linear;

    // old
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0a0a57;
    --primary-color: #072fac;
    --secondary-color: #0449e0;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;
    --skeleton-color: #03cc03;
    --skeleton-shadow: #037703;
    --code-bg: #fff;
    --card-bg: #c6c6c7;

    // new
    --dark-bg-redesigned: #FFF;
    --bg-redesigned: #EFF5F6;
    --light-bg-redesigned: #E2EEF1;
    --text-redesigned: #141C1F;
    --hint-redesigned: #ADBCC0;
    --cancel-redesigned: #F77;
    --save-redesigned: #62DE85;
    --icon-redesigned: #5ED3F3;
    --accent-redesigned: #00C8FF;
}

