:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0a0a57;
    --primary-color: #072fac;
    --secondary-color: #0449e0;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;
}

