.notificationList {
    padding: 0 3px;
    min-height: 150px;
    max-height: 300px;
    width: 500px;
    overflow-y: auto;
    overflow-x: hidden;

    @keyframes animate {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    transition: 0.5s transform;
    animation: animate 0.5s linear;
}

.icon  {
    fill: none;
}

.icon path {
    stroke: var(--inverted-primary-color);
}


