.Button {
    transition: 0.2s;
    cursor: pointer;
    color: var(--primary-color);
    padding: 6px;

    &:not(.disabled) {
        &:hover {
            transform: scale(1.01);
            opacity: 0.8;
            fill-opacity: 0.8;
            stroke-opacity: 0.8;
            animation: animate 0.3s linear;
            border-radius: 10px;
        }

        @keyframes animate {
            0% {
                opacity: 1;
                border-radius: 0;
            }

            100% {
                opacity: 0.8;
                border-radius: 10px;
            }
        }
    }
}

.clear {
    padding: 0;
    border: none;
    color: var(--inverted-primary-color);
    background: none;
    outline: none;
}

.withline{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.withline_red{
    border: 1px solid var(--red-light);
    color: var(--red-light);
    background: none;
}

.outline {
    border: none;
    color: var(--primary-color);
    background: none;
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    padding: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.35;
}
