.Profile {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    border-radius: 10px;
}

.ProfileRedesigned {
    overflow: hidden;
}

.dataProfile {
    padding-top: 20px;

    .dataWithListBoxes {
        padding-top: 20px;
    }
}

.loading, .error {
    height: 300px;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}


