.sortWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clearBtn {
    color: var(--primary-color);
}

.tabs {
    margin-top: 16px;
}
